.nav{
    float: right;
    margin-top: -3%;
    margin-right: 5%;
}
.nav a{
    padding-left: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.nav a:hover{
    color: aqua;
}
